UserAuthApiPg/.vs/UserAuthApiPg/CopilotIndices/17.13.439.2385/CodeChunks.db
UserAuthApiPg/.vs/UserAuthApiPg/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
UserAuthApiPg/.vs/UserAuthApiPg/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
UserAuthApiPg/.vs/UserAuthApiPg/CopilotIndices/17.13.439.2385/SemanticSymbols.db
UserAuthApiPg/.vs/UserAuthApiPg/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
UserAuthApiPg/.vs/UserAuthApiPg/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
UserAuthApiPg/.vs/UserAuthApiPg/FileContentIndex/33faaed6-8ffb-4b84-85bc-df178b6d3174.vsidx
UserAuthApiPg/.vs/UserAuthApiPg/v17/.suo
UserAuthApiPg/.vs/UserAuthApiPg/v17/DocumentLayout.backup.json
UserAuthApiPg/.vs/UserAuthApiPg/v17/DocumentLayout.json
UserAuthApiPg/UserAuthApiPg/bin/Debug/net8.0/UserAuthApiPg.dll
UserAuthApiPg/UserAuthApiPg/bin/Debug/net8.0/UserAuthApiPg.pdb
UserAuthApiPg/UserAuthApiPg/obj/Debug/net8.0/UserAuthApiPg.AssemblyInfo.cs
UserAuthApiPg/UserAuthApiPg/obj/Debug/net8.0/UserAuthApiPg.csproj.FileListAbsolute.txt
UserAuthApiPg/UserAuthApiPg/obj/Debug/net8.0/UserAuthApiPg.dll
UserAuthApiPg/UserAuthApiPg/obj/Debug/net8.0/UserAuthApiPg.pdb
UserAuthApiPg/UserAuthApiPg/obj/Debug/net8.0/EndpointInfo/UserAuthApiPg.json
UserAuthApiPg/.vs/UserAuthApiPg/FileContentIndex/52f9f05f-3321-4a2d-a6af-e6a2be12c2c8.vsidx
